*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'popons', sans-serif;
    background-color:#f5fafc;
    overflow-x: hidden;
}

.header{
    height: 90vh;
    position: relative;
}

.navbar{
    height: 110px;
    width: 100%;
    background-color:black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    z-index: 10;
    position: fixed;
}

.navbar-box{
    display: flex;
    align-items: center;
    font-size: 2rem;
    color: white;
}

.heading-tertiary{
    font-size: 3.5rem;
}

.navbar-list{
    list-style: none;
    font-size: 2rem;
}

.navbar-item{
    display: inline-block;
}

.navbar-link:visited,
.navbar-link:link{
    text-decoration: none;
    color: white;
    padding: 3rem;
    transition: all .2s ease;
}

.navbar-link:hover{
    background-color: pink;
    color: white;
}

.navbar-link-book:visited,
.navbar-link-book:link{
    text-decoration: none;
    color: white;
    padding: 2rem 3.5rem;
    border: 1px solid pink;
    border-radius: 200px;
    box-shadow: 0 0 1rem pink;
    text-shadow: 0 .3rem 1rem pink;
    transition: all .4s ease;
}

.navbar-link-book:hover{
    background-color: pink;
    color: white;
}

.toggle{
    height: 5rem;
    width: 5rem;
    display: none;
}

.toggle div{
    height: 4px;
    width: 100%;
    background-color: white;
    margin: 1rem;
}

.header-container{
    width: 100%;
    height: 100%;
    background-size: cover;
    color: white;
}

.video{
    width: 100%;
    height: 100%;
    background-color: pink;
    position: absolute;
    bottom: 0;
    right: 0;
}

#video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    z-index: -1;
}

.header-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-transform: uppercase;
    color: white;
}

.heading-primary{
    font-size: 6.5rem;
    font-weight: 600;
    letter-spacing: 3px;
}

#Arts{
    color:#FFFFFF;
    font-weight: 800;
    font-size: 8rem;
}

.lead{
    font-size: 1.9rem;
    font-weight: 600;
    letter-spacing: 4px;
}

.Explore more:visited,
.Explore more:link{
    text-decoration: none;
    display: inline-block;
    color: skyblue ;
    font-size: 2rem;
    padding: 2rem;
    margin-top: 4rem;
    border: 1px solid skyblue 
    ;

    border-radius: 100px;
    transition: all .3s ease;
    box-shadow: 0 1rem 1rem skyblue;
    text-shadow: 0 1rem 1rem skyblue;
}

.Explore more:hover{
    background-color:hotpink;
    border: 1px solid skyblue ;
    box-shadow: 0 0 2rem pink;
}

/* culture */

.culture{
    width: 100%;
    padding: 10rem 5rem;
    background-color:#f8f9f9;
}

.culture-heading{
    font-size: 12rem;
    text-align: center;
    text-shadow: 0 0 1rem skyblue;
    text-transform: uppercase;
    color: white;
    font-weight: 800;
}

.culture-grid{
    display: grid;
    grid-template-rows:repeat(2, 1fr) ;
    grid-template-columns: repeat(4, 1fr);
    justify-self: center;
    grid-gap: 2rem;
}

.heading-secondary{
    font-size: 7rem;
    text-transform: uppercase;
    color: white;
    text-align: center;
}

.culture-img1{
    height: 50%;
    width: 100%;
    background-size: cover;
    background-position: left;
    background-image: url("https://www.utsavpedia.com/wp-content/uploads/2013/07/Kathakali-sajna103.jpg");
}
.culture-img2{
    height: 50%;
    width: 100%;
    background-size: cover;
    background-position: left;
    background-image: url("https://assets.traveltriangle.com/blog/wp-content/uploads/2015/02/Snake-boat-race.jpg");
}
.culture-img3{
    height: 50%;
    width: 100%;
    background-size: cover;
    background-position: left;
    background-image: url("./meenu.jpeg");
}
.culture-img4{
    height: 50%;
    width: 100%;
    background-size: cover;
    background-position: left;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQJksjpcbgwfioNF50WpdabRRvtdJEA2NjFMg&usqp=CAU");
}
.culture-img5{
    height: 50%;
    width: 100%;
    background-size: cover;
    background-position: left;
    background-image: url("https://as2.ftcdn.net/v2/jpg/02/11/35/03/1000_F_211350348_Jb1hNOWsgrADcVsMOfmSXIo3AgqByii8.jpg");
}
.culture-img6{
    height: 50%;
    width: 100%;
    background-size: cover;
    background-position: left;
    background-image: url("https://t3.ftcdn.net/jpg/02/02/18/18/360_F_202181871_uUv9gr7aWl9NAaAvZW8MQMv0IQLZzPuj.jpg");
}
.culture-img7{
    height: 50%;
    width: 100%;
    background-size: cover;
    background-position: left;
    background-image: url("https://media.istockphoto.com/id/681122676/photo/indian-elephant-pageant.jpg?s=612x612&w=0&k=20&c=j9I9Y_wqoW0R4skjwFkJWOM6qzVlfGJnitCVPcE19Do=");
}
.culture-img8{
    height: 50%;
    width: 100%;
    background-size: cover;
    background-position: left;
    background-image: url("https://t3.ftcdn.net/jpg/05/88/42/98/360_F_588429819_RNhvM44j3hrjqcKOjruAG1LvfYqmh5Fw.jpg");
}


.culture-container{
    width: 100%;
    height: 50rem;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 2rem skyblue;
    transition: all .4s ease;
}

.culture-container:hover{
    box-shadow: 0 0 5rem skyblue;
    transform: scale(1.07);
}

.culture-p{
    font-size: 1.4rem;
    padding: 1rem;
    text-align: center;
}

.culture-title{
    font-size: 3rem;
    text-align: center;
}

.main{
    font-size: 3rem;
    margin-top: 1rem;
    text-align: center;
    color: purple;
    text-shadow: 0 .4rem 2rem skyblue;
}
.contact{
padding:15rem 10rem;
width:100%;
background-image:url('https://wallpaperaccess.com/full/5227230.png');
background-size:cover;
}
.contact-content{
height:auto;
width:100%;
display:flex;
justify-content:center;
border-radius:10px;
box-shadow:0 0 3rem skyblue;
}
.left{
background-color:pink;
width:100%;
border-top-left-radius:10px;
border-bottom-right-radius:10px;
position:relative;
}
.right-img{
height:22rem;
width:22rem;
position:absolute;
top:-11rem;
left:-11rem;
}
.contact-form{
padding:5rem;
width:100%;
}
.form{
width:100%;
text-align:center;
padding:3rem 0;
}
.form-group{
position:relative;
padding:2rem;
width:100%;
}
.contact-heading{
font-size:6rem;
color:pink;
}
.contact-btn:link,
.contact-btn:visited{
text-decoration:none;
display:inline-block;
border:1px solid pink;
background-color:transparent;
color:pink;
outline:none;
font-size:3.4rem;
border-radius:10px;
margin-top:2rem;
padding:1rem 2rem;
box-shadow:0 0 1rem skyblue;
transition:all .4s ease;
}
.contact-btn:hover{
background-color:pink;
box-shadow:0 .3rem 1rem skyblue;
color:white;
}
.input{
width:98%;
outline:none;
border:10px solid pink;
background-color:#fff;
height:7rem;
font-size:4rem;
border-radius:1000px;
text-indent:5px;
box-shadow:0 0 1rem skyblue;
padding:1rem;
transition:all .4s ease;
}
.input:focus{
width:100%;
}
.input:valid{
border-left:10px solid skyblue;
}
.input:invalid{
border-left:10px solid purple;
}
.textarea{
resize:none;
height:15rem;
border-radius:40px;
padding:2rem;
}
.form-group label{
position:absolute;
top:46px;
left:61px;
font-size:1.4rem;
background-color:white;
visibility:hidden;
transition:top .4s ease,left .4s ease;
}
.input:focus ~ label{
top:11px;
left:61px;
padding:0 1rem;
box-shadow:0 0 1rem skyblue;
visibility:visible;
border-radius:6px;
}
.input:focus::placeholder{
color:transparent;
}
.left{
display:flex;
flex-direction:column;
align-items:center;
justify-content:space-evenly;
}
.maps-title{
font-size:5rem;
color:white;
text-align:center;
}


/* Your existing CSS code */

/* Media Query for Tablets and smaller screens */
@media (max-width: 1024px) {
    .navbar-list {
        display: none  ; /* Hide the default list items */
        position: absolute;
        top: 110px; /* Adjust this value as needed */
        left: 0;
        background-color: rgb(241, 247, 249);
        width: 100%;
        flex-direction: column;
        align-items: center;
        z-index: 9;
    }

    .navbar-item {
        margin: 1rem 0;
    }

    .navbar-list.active {
        display: flex; /* Show the list items when active */
    }

    .toggle {
        display: block; /* Show the toggle button */
    }
}
